<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <label>Email</label>
  <input id="email" type="text" name="email">
  <label>Password</label>
  <input id="email" type="password" name="email">
  <input type="submit" value="Log In">
</form>
